*,
*::before,
*::after {
  box-sizing: border-box; /* Takes into account padding, etc. -> Easier to do everything */
  font-family: Arial;
}

/* Set general attributes like font-size, etc. here */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  height: 100vh;
  margin: 0; /* Since height = 100vh, having no margin ensures that there's no scrolling*/
  font-size: 7.5vmin;
  height: 100vh;
  width: 100vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

/* NAV BAR */
#nav-bar {
  display: grid;
  grid-template-columns: 30vw 40vw 30vw;
  font-size: medium;
  justify-items: center;
  align-items: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#title {
  grid-column-start: 2;
  grid-column-end: 3;
  place-self: center;
  font-weight: 600;
  font-size: 5vmin;
  color: white;
  pointer-events: none;
  user-select: none;
}

/* GAME BOARD */

#game-board {
  display: grid;
  position: relative; /* Tiles' positions will be absolute RELATIVE to the game board */
  place-self: center;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: #ccc;
  gap: var(--cell-gap);
  border-radius: 1vmin;
  padding: var(--cell-gap);
  font-size: 7.5vmin;
  max-width: min-content;
}

.cell {
  background-color: #aaa;
  border-radius: 1vmin;
}

.tile {
  --background-lightness: 72%;
  --text-lightness: 18%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
  /* Calculate position based on x and y index */
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));

  font-weight: bold;
  background-color: hsla(53, 68%, var(--background-lightness), 1);
  color: hsla(53, 34%, var(--text-lightness), 1);
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

/* SETTINGS */

#settings {
  color: white;
  position: relative;
  display: inline-block;
}

#btn--settings-dropdown {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#btn--settings-dropdown:hover,
#btn--settings-dropdown:focus {
  background-color: gray;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: gray;
  min-width: 160px;
  z-index: 1;
}

.dropdown-item  {
  color: white;
  background: inherit;
  width: 100%; 
  height: 100%;
  padding: 2vmin;
  display: block;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* SCORE DISPLAY */
#score-board {
  position: relative;
  display: flex;
  color: white;
  background-color: inherit;
  font-size: 2vw;
  vertical-align: middle;
  place-content: center;
  align-items: center;
}

.plus-one {
  color: white;
  position: absolute;
  left: 100%;
  font-size: 1.5vw;
  transform: translate(-25%, -70%);
  animation: fade-in-up 2s 1 ease;
}

@keyframes fade-in-up {
  0%,
  10% {
    top: 50%;
    opacity: 1;
  }
  100% {
    top: -100%;
    opacity: 0;
  }
}
